@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@500&display=swap');
.card {
    border-radius: 8px;
    margin: 10px;
    cursor: pointer;
    text-align: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
}

.nom-planet {
    font-family: 'Alegreya Sans', sans-serif;
    font-size:1.5em; 
}